.container.contact__container {
    width: 60%;
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 3rem;
    justify-content: center;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary);
    transform: translateX(5%);
}

.contact__option-icon {
    font-size: 1.5rem;
    color: var(--color-light);
    transition: var(--transition);
}

.contact__option-icon:hover {
    transform-origin: 20%;
}

.contact__option h4 {
    font-size: 1.8rem;
    color: var(--color-primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input,
textarea {
    background: transparent;
    width: 100%;
    border: 1px solid var(--color-primary);
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

button {
    margin: 0 auto;
    font-size: 1.5rem;
}

/* Media queries Tables ------------------- */
@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
    }
}


/* Media queries Phones ------------------ */
@media screen and (max-width:600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}