nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    border-radius: 2rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    backdrop-filter: blur(15px);
}

nav a {
    display: flex;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a {
    background: rgba(0, 0, 0, 0.466);
}

nav a.active {
    color: var(--color-bg);
    background: var(--color-primary);
}